@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #eee;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN",serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6875;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.section {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

.inner {
  width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: inherit;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.section-title::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #0b3a92;
  display: block;
  bottom: 0;
  margin: 16px auto 0;
}

.util_link {
  color: #0b3a92;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 16px 54px;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #0b3a92;
  display: inline-block;
  -webkit-transition: background-color .4s , color .4s;
  transition: background-color .4s , color .4s;
  border-radius: 4px;
}

.util_link.-active {
  background: #0b3a92;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .util_link:not(.-submit):hover {
    background: #0b3a92;
    color: #fff;
  }
}

header {
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 70px;
}

.header_inner {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .header_inner {
    height: 60px;
  }
}

.header_nav {
  margin-left: auto;
}

.header_nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav ul li {
  margin-left: 46px;
}

.header_nav ul li:nth-child(1) {
  margin-left: 0;
}

.header_nav ul li a {
  display: block;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  color: #333;
  letter-spacing: .1em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header_nav ul li a {
    -webkit-transition: color .4s;
    transition: color .4s;
  }
}

.header_nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  bottom: 20px;
  background-color: #0b3a92;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0;
  transition: all 0.3s ease 0s;
}

.header_nav ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header_nav {
    display: none;
  }
}

.drawer-icon {
  right: 15px;
  display: none;
  position: fixed;
  top: 20px;
  z-index: 41;
  cursor: pointer;
  -webkit-transition: all 0.3s ease .5s;
  transition: all 0.3s ease .5s;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  outline: none;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.navbar-bars {
  right: 0;
  display: inline-block;
  width: 22px;
  height: 56px;
  position: relative;
  border: none;
}

.navbar_toggle_icon {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background: #0b3a92;
  width: 100%;
  height: 4px;
  border-radius: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar_toggle_icon:nth-of-type(1) {
  top: 0;
}

.navbar_toggle_icon:nth-of-type(2) {
  top: 8px;
}

.navbar_toggle_icon:nth-of-type(3) {
  top: 16px;
}

.navbar_toggle_icon .is-checked {
  right: 0px;
}

.is-checked .navbar_toggle_icon:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.is-checked .navbar_toggle_icon:nth-of-type(2) {
  background: transparent;
}

.is-checked .navbar_toggle_icon:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  z-index: 40;
  width: 200px;
  max-width: 90%;
  height: 100%;
  background: #0b3a92;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: left;
  color: #fff;
}

.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
          box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

.drawer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer-content ul li {
  border-bottom: 1px solid #fff;
}

.drawer-content ul li a {
  text-decoration: none;
  display: block;
  padding: 16px 30px 14px 20px;
  color: #fff;
  opacity: 1;
}

.drawer-content ul li a:hover {
  opacity: 0.8;
}

.top {
  background: url("../img/bg.png") center center/100% no-repeat;
  background-size: cover;
  padding: 80px 40px;
}

@media screen and (max-width: 767px) {
  .top {
    margin-top: 0px;
    padding: 50px 20px;
  }
}

.top_text {
  text-align: center;
  color: #fff;
}

.top_title {
  font-size: 2.6rem;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .top_title {
    font-size: 18px;
    padding-top: 40px;
  }
}

.top_message {
  font-size: 5.6rem;
  margin-top: 18px;
}

@media screen and (max-width: 767px) {
  .top_message {
    font-size: 26px;
  }
}

.btn {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .btn {
    margin-top: 30px;
  }
}

.button {
  color: #fff;
  background-color: #afa58d;
  width: 200px;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 10px  20px;
  -webkit-transition: background-color .4s , ease .4s;
  transition: background-color .4s , ease .4s;
}

.button:hover {
  opacity: 0.8;
}

.concept_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .concept_inner {
    display: block;
  }
}

.concept_pic {
  width: 50%;
}

.concept_text {
  width: 50%;
  text-align: left;
  padding: 20px;
}

.card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .card-items {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .card-item {
    margin-bottom: 40px;
  }
}

.card-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
}

.stars {
  background-image: url("../img/icon_146220_256.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .products-list {
    display: block;
    padding-left: 0;
  }
}

.products-item {
  background-color: #fff;
  border: #333 solid 1px;
  width: 30%;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .products-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

.products-item:nth-of-type(1) .products-item-pic {
  background-image: url("../img/img-top02.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}

.products-item:nth-of-type(2) .products-item-pic {
  background-image: url("../img/img-top03.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}

.products-item:nth-of-type(3) .products-item-pic {
  background-image: url("../img/local.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}

.products-desc {
  font-size: 14px;
  height: 150px;
  color: #333;
}

.contact {
  background: url(../img/lake.jpg) center center/cover;
  margin-top: 225px;
  padding: 72px 40px 85px;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 96px;
    padding: 56px 28px;
  }
}

.contact .section-title {
  color: #fff;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em .5em;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  cursor: pointer;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
  outline: #0b3a92 auto 1px;
}

.contact input[type="text"],
.contact input[type="email"] {
  height: 40px;
}

.contact textarea {
  min-height: 122px;
  resize: vertical;
}

.contact_inner {
  margin-top: 56px;
}

.contact-form {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .contact-form {
    margin-top: 26px;
  }
}

.contact-list {
  max-width: 510px;
  margin: 18px auto 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item + .contact-item {
  margin-top: 32px;
}

.contact-text {
  font-size: 14px;
  letter-spacing: .1em;
  color: #fff;
}

.contact-text-inline {
  font-size: 16px;
  line-height: 1.1;
  vertical-align: middle;
  color: #E7728E;
}

.contact-item-inline {
  font-size: 12px;
  color: #E7728E;
  line-height: 1;
  vertical-align: super;
}

@media screen and (max-width: 767px) {
  .contact-item-inline {
    font-size: 10px;
  }
}

.contact-title {
  color: #fff;
  font-size: 18px;
  background: #0b3a92;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-title {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (min-width: 768px) {
  .contact-title::after {
    content: "";
    display: block;
    position: absolute;
    right: -8px;
    top: 0;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent #0b3a92;
  }
}

@media screen and (min-width: 768px) {
  .contact-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-left: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .contact-input {
    margin-top: 3px;
  }
}

.contact_footer {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact_footer {
    margin-top: 14px;
  }
}

.contact_footer .-submit {
  margin-top: 50px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.contact_footer .-submit:hover {
  background-color: #0b3a92;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .contact_footer .-submit {
    margin-top: 26px;
  }
}

.contact-message {
  color: #fff;
  font-weight: bold;
  display: none;
  margin-top: 60px;
  text-align: center;
}

.contact-message.-error {
  color: #f00;
}

.fa-twitter {
  color: #00BFFF;
}
