@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



*,*::before,*::after{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;


}
//color//
$color-main:rgb(11, 58, 146);
$color-text:#333;
$color-background:#eee;
//layout//
$layout-width-canvas:1280px;
$layout-width-inner:1200px;
//layer//
$layer:(
  modal:100,
  drawer:40,
  floating:30,
  header:20,
  footer:10,
  default:1,
);


//padding//
$padding-pc:40px;
$padding-tab:40px;
$padding-sp:15px;

//header-hight
$header-height-pc:70px;
$header-height-sp:60px;


//breakpoint
$breakpoints: (
  'sm': 'screen and (max-width: 767px)',
  'md': 'screen and (min-width: 768px)',
  
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

  

html,
body{
  margin: 0;
  padding:0;
  width: 100%;
}
body{
  background-color: $color-background;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN",serif;
  font-size:16px;
  color: $color-text;
  line-height: 1.6875;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: 100%;
  
}
img{
  max-width: 100%;
  height: auto;
  border: none;
}

//pc-only
@include mq(sm){
  .is-pc{
    display: none;
  }
}
    
  


//sp-only
@include mq(md){
  .is-sp{
    display: none;
  }

}


//section
.section{
  margin-top: 160px;

  @include mq(sm){
    margin-top: 96px;
  }
  
 
}
//inner
.inner{
  width: $layout-width-inner;
  width: 100%;
  margin-right: auto ;
  margin-left: auto;
  height: inherit;
  padding-left: $padding-pc;
  padding-right: $padding-pc;
 text-align: center;
  @include mq(sm){
    padding: 0 $padding-sp;
  }

  

 
}
// section-title
.section-title{
  font-size: 40px;
  font-weight: 700;
 
  display: inline-block;
  text-align: center;
  line-height: 1;
  @include mq(sm){
    font-size: 30px;
  }

  &::after{
    content:"";
    width: 60px;
    height:1px;
    background-color:$color-main;
    display: block;
    bottom:0;
    
    margin:16px auto 0;
    
  }


}
.util_link{
  color: $color-main;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 16px 54px;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid $color-main;
  display: inline-block;
  transition:background-color .4s , color .4s;
  border-radius: 4px;

  &.-active{
    background: $color-main;
       color: #fff;
  }
  @include mq(md){
    &:not(.-submit){
     &:hover{
       background: $color-main;
       color: #fff;
      }
    }

  }

}

// header
header{
  background-color: $color-background;
  position: fixed;
  top:0;
  left: 0;
  z-index:map-get($layer, "header");
  width: 100%;
  height:70px;
  
}
.header_inner{
  margin-top: 0;
  display: flex;
  align-items: center;
  
  padding-top: 25px;
  padding-bottom: 25px;
  @include mq(sm){
    height: 60px;
  }
}

.header_nav{

  
  margin-left: auto;
  
  
  ul{
    list-style: none;
    display: flex;
    
     
     li {
       margin-left: 46px;
       &:nth-child(1){
         margin-left: 0;
        }
        
        
        
        a{
          display: block;
          height:70px;
          line-height: 70px;;
          text-decoration: none;
          color:$color-text;
          letter-spacing: .1em;
          transition:all 0.3s ease 0s;
          position:relative;
          @include mq(md){
            transition: color .4s;
          
         }
        &::after{
          content:"";
              position:absolute;
              left: 0;
              height: 2px;
              bottom: 20px;
              background-color:$color-main ;
              opacity:0;
              transition: all 0.3s ease 0s;
              width: 0;
              transition:all 0.3s ease 0s;
              
            }
            &:hover{
              &::after{
                width: 100%;
                opacity: 1;
              }
    
            }
        }
      }
    }
    @include mq(sm){
      display: none;
  }
}

//header-icon
$drawer-bar-space:4px;
$drawer-bar-width:22px;
$drawer-bar-height:4px;
$drawer-content-width:200px;

// drawer
.drawer-icon{
  
 right:$padding-sp;
  
  display: none;
  position: fixed;
  top:20px;
  z-index: map-get($layer, "drawer" ) + 1;
  cursor: pointer;
  transition: all 0.3s ease .5s;
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  outline: none;
  @include mq(sm){
    display: block;
  }
  

  // &.is-checked{
  //   transform:translateX(-$drawer-content-width);
  // }
  
}
.navbar-bars{
  right:0;
  display: inline-block;
  width: $drawer-bar-width;
  height:$drawer-bar-height +($drawer-bar-space + $drawer-bar-width) * 2;
  position: relative;
  border: none;
}
.navbar_toggle_icon{
  position: absolute;
  right: 0;
  left:0;
  display: block;
  background: $color-main;
  width: 100%;
  height: $drawer-bar-height;
  border-radius: 0;
  transition:all 0.3s ease 0s;
  

  &:nth-of-type(1){
    
    top:0;
  }
  &:nth-of-type(2){
    top:($drawer-bar-space + $drawer-bar-height);
  }
  &:nth-of-type(3){
    
    top:($drawer-bar-space + $drawer-bar-height) * 2;
  }
  .is-checked{
    right:0px;
  }

  .is-checked & {
    &:nth-of-type(1){
      top:10px;
      transform: rotate(45deg);
    }
    &:nth-of-type(2){
      background: transparent;
    }
    &:nth-of-type(3){
      top:10px;
      transform: rotate(-45deg);
    }

  }
}

.drawer-content{
  overflow:auto;
  position: fixed;
  top:60px;
  right:0;
  bottom:auto;
  left:auto;
  transform: translateX(105%);
  z-index: map-get($layer, "drawer" );
  width: $drawer-content-width;
  max-width: 90%;
  height:100%;
  background: $color-main;
  transition: all 0.5s ease 0s;
  text-align: left;
  color: #fff;

  &.is-checked{
    transform:translateX(0);
    box-shadow: 6px 0 25px rgba(#000, 0.16);
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      border-bottom: 1px solid #fff;
      a{
        text-decoration: none;
        display: block;
        padding: 16px 30px 14px 20px;
        color: #fff;
        opacity: 1;

        &:hover{
          opacity:0.8;
        }
      }
    }
  }
}
// top
.top{
 margin-top: 70px;
  background: url("../img/bg.png")  center center / 100% no-repeat;
  background-size: cover;
  padding: 80px 40px ; 
  @include mq(sm){
    margin-top: 0px;
    padding: 50px 20px ;
  }
  
}


  
 

.top_text{
  text-align: center;
    color: #fff;

 
} 
  .top_title{
    
    font-size: 2.6rem;
    font-weight:700;
    @include mq(sm){
      font-size: 18px;
      padding-top: 40px;
    }

  }
   .top_message{
    font-size: 5.6rem;
    margin-top: 18px;
    @include mq(sm){
      font-size: 26px;
    }

  }
  .btn{
    margin-top: 80px;
    @include mq(sm){
      margin-top: 30px;
    }
  }
  .button{
  color: #fff;
  background-color: #afa58d;
  width: 200px;
  border-radius: 4px;
  font-size: 1.2rem;
  padding:10px  20px;
  transition:background-color .4s , ease .4s;
  &:hover{
    opacity: 0.8;
  }
  }
//  コンセプト
.concept_inner{
  display:grid;
  grid-template-columns: 1fr 1fr;
  @include mq(sm){
    display: block;
  }
} 
.concept_text{
  text-align: left;
  padding: 20px;
}
// 特徴
.card-items{
  display: flex;
  justify-content: space-between;
  @include mq(sm){
    display: block;
    
  }
}
.card-item{
  @include mq(sm){
    margin-bottom: 40px;

    
  }
}
.card-desc{
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
.stars{
  background-image: url("../img/icon_146220_256.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}

// 事例
.products-list{
  display: flex;
  justify-content: space-between;
  @include mq(sm){
    display: block;
    padding-left: 0;
  }
}
.products-item{
  background-color: #fff;
  border:#333 solid 1px;
  width: 30%;
   padding-bottom: 10px;
   @include mq(sm){
    width: 100%;
    margin-bottom: 20px;
   }

&:nth-of-type(1){
    .products-item-pic{
    background-image: url("../img/img-top02.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
  }
}
  &:nth-of-type(2){
    .products-item-pic{
    background-image: url("../img/img-top03.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
  }
}
  &:nth-of-type(3){
    .products-item-pic{
    background-image: url("../img/local.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
  }
  }
}

.products-desc{
  font-size: 14px;
  height: 150px;
  color: #333;
}

// contact
.contact{
  background:url(../img/lake.jpg) center center /cover;
  margin-top: 225px;
  padding:72px 40px 85px;
  @include mq(sm){
    margin-top: 96px;
    padding:56px 28px;
  }
  .section-title{
    color: #fff;
  }

  
  input[type="text"],
  input[type="email"],
  textarea{
    width: 100%;
    border: 0;
    font-size: 16px;
    padding:.2em .5em;
    border-radius: 2px;
    box-shadow:5px 6px 15px rgba(96, 96, 96, 0.16);
    cursor: pointer;
    &:focus{
    outline: $color-main auto 1px;
    }
  }
  input[type="text"],
  input[type="email"]{
    height: 40px;
  }
  textarea{
    min-height:122px;
    resize: vertical;
  }
}
.contact_inner{
  margin-top: 56px;
}
.contact-form{
  margin-top:64px;
  @include mq(sm){
    margin-top: 26px;
  
  }
}
.contact-list{
  max-width: 510px;
  margin: 18px auto 0;
  text-align: left;
}

.contact-item{
  @include mq(md){
    display: flex;
  }
  
  
  & + &{
    margin-top: 32px;
  }
  
}
.contact-text{
  font-size: 14px;
  letter-spacing: .1em;
  color: #fff;
}
.contact-text-inline{
  font-size: 16px;
  line-height: 1.1;
  vertical-align: middle;
  
  color: #E7728E;
  
}
.contact-item-inline{
  font-size: 12px;
  color: #E7728E;
  line-height: 1;
  vertical-align: super;
  @include mq(sm){
    font-size: 10px;
  }
}
.contact-title{
  color: #fff;
  font-size: 18px;
  background:$color-main;
  display: inline-block;
  height:40px;
  line-height: 40px;
  padding-left: 10px;
  position: relative;

  @include mq(sm){
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    height:32px;
    padding: 0 16px;
  }
  @include mq(md){
    flex:0 1 100%;
  }
 @include mq(md){

   &::after{
     content: "";
     display: block;
     position: absolute;
     right:-8px;
     top:0;
     border-style: solid;
     border-width: 20px 0 20px 8px;
     border-color: transparent transparent transparent $color-main;
   }
 }
}
.contact-input{
  @include mq(md){
    flex: 0 0 320px;
    margin-left:20px ;
    text-align: left;
  }
  @include mq(sm){
    margin-top: 3px;
  }
  
}

.contact_footer{
  
  margin-top: 20px;
  @include mq(sm){
    margin-top: 14px;
  }


  .-submit{
    
    margin-top:50px ;
    transition:all .4s ease 0;
    &:hover{
      background-color: $color-main;
      color: #fff;
    }
    @include mq(sm){
      margin-top: 26px;
    }

  }
}
.fa-twitter{
  color:#00BFFF;
}